.menu-header {
    padding: 11px 16px;
    padding-left: 32px;
    font-size: var(--lumo-font-size-l);
}

.menu-toggle {
    display: none;
}

.menu-link {
    display: block;
    margin: 0 auto;
    padding: 10px 37px;
    transition: transform 300ms;

    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--lumo-secondary-text-color);
}

.menu-link:hover {
    text-decoration: none;
}

.menu-link span {
    padding-left: 5px;
}

.menu-button {
    padding: 10px 42px;
    color: var(--lumo-secondary-text-color);
}

/*
 * Special rules for narrow screens (responsive design rules)
 */
@media (max-width: 800px), (max-height: 600px) {

	/*
	 * Make menu toggle visible, and smaller
	 */
    .menu-toggle {
        display: block;
        height: var(--lumo-button-size);
        width: var(--lumo-button-size);
    }

    .menu-header {
        padding-left: 0;
    }
}
